<?xml version="1.0" encoding="utf-8"?>
<phpunit
        colors="true"
        backupGlobals="false"
        processIsolation="false"
        verbose="true"
>
    <testsuites>
        <testsuite name="FunCorp Satellite Tests">
            <directory suffix="Test.php">C:/projects/php/funCorp/test</directory>
        </testsuite>
    </testsuites>
</phpunit>